@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap');

.card {
    width: 350px;
    height: 228px;
    border-radius: 6px;
    background: #FFF;
    cursor: pointer;
    padding: 2em;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
}


.date__type {
    color: #6E8098;
    font-family: "Kumbh Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 3em;
}


.job__Role {
    color: #19202D;
    font-family: "Kumbh Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 4em;
}


.company {
    color: #6E8098;
    font-family: "Kumbh Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: 6em;
}

.work__Country {
    color: #5964E0;
    font-family: "Kumbh Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 2em;
}

@media only screen and (max-width: 540px){
	/*Small smartphones [325px -> 425px]*/
    .card {
        width: 320px;
        margin: 4em auto;
    }

    .job__Role {
        font-size: 18px;
    }

    .date__type {
        font-size: 14px;
    }

    .company {
        font-size: 16px;
    }
}