* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F4F6F8;;
}


/* Card List Container */
.cardList__container {
    width: 90%;
    margin: 5em auto;
    padding: 0 5em;
}


@media only screen and (max-width: 540px){
	/*Small smartphones [325px -> 425px]*/
    .cardList__container {
    width: 90%;
    margin: 5em auto;
    padding: 0;
}
}